# folders
.yarn/*
!.yarn/releases
!.yarn/plugins
build/
lib/
node_modules/
src/types/

# files
.DS_Store
.env
npm-debug.log*
src/helpers/constants.ts
subgraph.yaml
yarn-debug.log*
yarn-error.log*
*.log
